[flake8]
# See link below for available options
# https://flake8.pycqa.org/en/latest/user/options.html#options-and-their-descriptions
# Move this to pyproject.toml as soon as it is supported.
# See https://gitlab.com/pycqa/flake8/issues/428

exclude =
    .git,
    .github,
    .venv,
    .mypy_cache,
    .pytest_cache,
    __pycache__,
    *.pyc,
    docs/build,
    docs/source/auto_*
max-line-length = 88
show_source = True
statistics = True