os: linux
dist: bionic
language: python
python: 3.6

branches:
  only:
    - "master"

before_install:
  - REQUIREMENTS_FILE=travis_ci_torch_requirements.txt
  - python gen_torch_cpu_requirements.py --file $REQUIREMENTS_FILE
  - pip install -r $REQUIREMENTS_FILE
  -
install: pip install --upgrade .[test] coverage codecov

script: coverage run --rcfile=.coveragerc -m pytest -c pytest.ini --skip-large-download

after_success: codecov
