os: linux
dist: bionic
language: python
python: 3.6

jobs:
  include:
    - name: "Code format"
      install: pip install isort black flake8
      script:
        - isort --settings-path=pyproject.toml --check-only --jobs=$(nproc) --recursive .
        - black --config=pyproject.toml --check .
        - flake8 --config=.flake8 --jobs=$(nproc) .
    - name: "Tests"
      before_install:
        - REQUIREMENTS_FILE=travis_ci_torch_requirements.txt
        - python gen_torch_cpu_requirements.py --file $REQUIREMENTS_FILE
        - pip install -r $REQUIREMENTS_FILE coverage codecov
      install:
        - pip install .[test]
        - pip install --upgrade pytest
      script:
        - coverage run --rcfile=.coveragerc -m pytest -c pytest.ini --skip-large-download
      after_success: codecov
