language: python
python: "3.6"

matrix:
  include:
    - name: "Code format"
      before_install:
        - TRAVIS_VIRTUALENV=../../../virtualenv/python$TRAVIS_PYTHON_VERSION
        - ls -lA $TRAVIS_VIRTUALENV
      install: pip install isort black flake8
      script:
        - JOBS=$(nproc)
        - isort --settings-path=pyproject.toml --virtual-env $TRAVIS_VIRTUALENV --check-only --verbose --recursive .
        - black --config=pyproject.toml --check .
        - flake8 --config=.flake8 --jobs=$JOBS .
    - name: "Tests"
      before_install:
        - REQUIREMENTS_FILE=travis_ci_torch_requirements.txt
        - pip install BeautifulSoup4
        - python gen_torch_cpu_requirements.py --file $REQUIREMENTS_FILE
        - pip install -r $REQUIREMENTS_FILE coverage codecov
      install:
        - pip install .[test]
        - pip install --upgrade pytest
      script: coverage run --rcfile=.coveragerc -m pytest -c pytest.ini
      after success: codecov
