sphinx >= 3
importlib-metadata
sphinxcontrib-bibtex == 2
sphinx_autodoc_typehints >= 1.11
pydata_sphinx_theme
jinja2
sphinx-gallery >=0.8, <0.10
matplotlib
memory_profiler
https://download.pytorch.org/whl/cpu/torch-1.10.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.11.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
