name: tests

on:
  push:
    branches:
      - master
      - releases/*

  pull_request:
    paths:
      - "pystiche/**"
      - "tests/**"
      - "hubconf.py"
      - "setup.cfg"
      - "pyproject.toml"
      - "pytest.ini"
      - ".coveragerc"
      - "codecov.yml"
      - "tox.ini"
      - "requirements-dev.txt"
      - ".github/workflows/tests.yml"

jobs:
  integration:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: [3.6, 3.7, 3.8]
      fail-fast: true

    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade or install additional system packages
        run: pip install --upgrade pip setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e tests-integration --notest

      - name: Run tests
        run: tox -e tests-integration -- --skip-large-download

      - name: Upload coverage
        uses: codecov/codecov-action@v1.0.12
        with:
          env_vars: OS,PYTHON

  galleries:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade or install additional system packages
        run: pip install --upgrade pip setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e tests-galleries --notest

      - name: Run tests
        run: tox -e tests-galleries

  hub:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e tests-hub --notest

      - name: Get torch.hub checkpoints cache directory
        id: torch-hub-checkpoints-cache
        run: |
          source .tox/tests-hub/bin/activate
          DIR=$(python -c 'from os import path; from torch import hub; print(path.join(hub.get_dir(), "checkpoints"))')
          echo "::set-output name=dir::$DIR"
          deactivate

      - name: Load torch.hub checkpoints from cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.torch-hub-checkpoints-cache.outputs.dir }}
          key: torch-hub-checkpoints-${{ hashFiles('hubconf.py', 'pystiche/enc/models/**') }}
          restore-keys: |
            torch-hub-checkpoints-

      - name: Run tests
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: tox -e tests-hub

      - name: List cache dir
        run: |
          echo "$(python -c 'from torch import hub; print(hub.get_dir())')/checkpoints"
          ls -l  ~/.cache/torch/hub/checkpoints
